<strong>Boas vindas, {{ student }}!</strong>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>
  <b>Plano: </b> {{ plan }} ({{planDuration}})<br />
  <b>Data de término: </b> {{ endDate }}<br />
  <b>Valor:</b> {{ price }}
</p>
